<!DOCTYPE html>
<html lang='en'>
<head>
<title>TinyApp</title>
</head>

<body>
  <header>
  <% include ./partials/_header %>
  </header>  
  
  <% let keyArray = Object.keys(urls) %>
  <% let keyArrayIndex = 0; %>
  <table>
        <tbody>
          <% if (user === undefined) { %>
            <tr><td>LOGIN OR REGISTER TO VIEW URLS</td></tr>
          <% } %>  
          <% for (key in urls) { %>
            <tr> 
              <td><%= keyArray[keyArrayIndex] %></td>
              <td><strong>&emsp; &#8680 &emsp;</strong></td>
              <td><a href =  "<%=  urls[key] %>"><%= urls[key].long %></a> &emsp;</td>
              <td><%= `Created: ${urls[key].dateCreated} ` %>&emsp;</td>
              <td><%= `Visited: ${urls[key].numClicks} times` %>&emsp;</td>
              <% if (user !== undefined && user.id === urls[key].user) { %>
              <td>
                <form method="GET" action= "<%= `urls/${keyArray[keyArrayIndex]}` %>">
                  <input type="submit" value="edit">
                </form>
              <td>
                <form method="POST" action= "<%= `urls/${keyArray[keyArrayIndex]}/delete` %>">
                  <input type="submit" value="delete">
                </form>
                
              </td>
              <% }; %>  
              <% keyArrayIndex++ %>
            <tr>
          <% }; %>
          <tr>
            <td>
              <form method="GET" action= "<%= `urls/new` %>">
              <input type="submit" value="NEW">
              </form>
            </td>
          </tr>  
        </tbody>
  </table>
</body>
</html>